/* --------- Whole platform --------- */

* {
    font-family: 'Raleway';
}

@font-face {
	font-family: 'Raleway';
	src: url('//fonts.googleapis.com/css?family=Raleway');
}

/* --------- Home --------- */

body {
	background-color: #f9f9fb;
}

.interface {
	margin-top: 1.2%;
	width: 100%;
}

.interfaceColor {
	background-color: #fff5e6;
}

.logoPhpmyadmin {
	width: 30%;
	height: auto;
	display: block;
	margin-left: auto;
    margin-right: auto;
	padding-bottom: 1%;
}

.page-header {
	margin-bottom: 3%;
}

/* --------- Jumbotron --------- */

.jumbotronColor {
	background-color: #eeeef6;
	border: 1px solid #dddddd;
}

.titleJumbotron {
	text-align: center;
}

.jumbotron h3 {
	font-size: 30px;
}

.jumbotron p {
	font-size: 13px;
}

.linkJumbotron {
	color: #7272a1;
}

.linkJumbotron:hover {
	color: #9999c0;
	text-decoration: none;
}

.iconJumbotron {
	color: #7272a1;
}

.iconJumbotron:hover {
	color: #9999c0;
	text-decoration: none;
}

/* --------- Tables --------- */

.informationColor {
	background-color: #f9f9fb;
}

.informationMessage {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.informationTitle {
	margin-bottom: 2%;
}

.informationButton {
	margin-bottom: 3%;
}

.tableView {
	overflow-x: auto;
}

.td1, .th1 {
	border: 5px solid #f9f9fb;
	text-align: center;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.td1 {
	background-color: #eeeeee;
	padding-top: 4px;
	padding-bottom: 4px;
}

.th1 {
	background-color: #d5d5d5;
	padding-top: 5px;
	padding-bottom: 5px;
}

.btnTable {
	padding-top: 0.5px;
	padding-bottom: 0.5px;
	padding-left: 8px;
	padding-right: 8px;
}
.alert_drop_confirm {
	display: none;
}

/* --------- add DB --------- */

.btnConfirm {
	color: #ffffff;
	background-color: #7272a1;
	border-color: #7272a1;
}

.btnConfirm:hover {
	color: #ffffff;
	background-color: #8888b2;
	border-color: #8888b2;
	outline:none !important;
}

.btnConfirm:focus {
	color: #ffffff;
	background-color: #8888b2;
	border-color: #8888b2;
	outline:none !important;
}

.btnConfirm:active {
	color: #ffffff;
	background-color: #8888b2;
	border-color: #8888b2;
	outline:none !important;
}

.btnConfirm:active:focus {
	color: #ffffff;
	background-color: #8888b2;
	border-color: #8888b2;
	outline:none !important;
}

.btnErase {
	margin-bottom: 2%;
	color: #f9f9fb;
	background-color: #ffa011;
	border-color: #ffa011;
}

.btnErase:hover {
	color: #ffffff;
	background-color: #fbb243;
	border-color: #fbb243;
	outline:none !important;
}

.btnErase:focus {
	color: #ffffff;
	background-color: #fbb243;
	border-color: #fbb243;
	outline:none !important;
}

.btnErase:active {
	color: #ffffff;
	background-color: #fbb243;
	border-color: #fbb243;
	outline:none !important;
}

.btnErase:active:focus {
	color: #ffffff;
	background-color: #fbb243;
	border-color: #fbb243;
	outline:none !important;
}

/* --------- add Table --------- */

.titleAddTable {
	margin-bottom: 2%;
}